%meta{property: 'og:title', content: 'Rails Girls Tricity 2016'}
%meta{property: 'og:description', content: 'Rails Girls Tricity to społeczność non-proft organizująca w Trójmieście bezpłatne warsztaty programowania w Ruby on Rails i prelekcje na których inspirujemy, motywujemy i zachęcamy kobiety do rozwoju w branży IT.'}
%meta{property: 'og:image', content: URI.join(root_url, image_path('fb.png'))}
