.thanks
  = image_tag 'fb.png'

  %h1 Rejesracja zakończona

  %p
    Przykro nam, że nie miałaś/łeś szansy wysłać swojej aplikacji, ale nie martw się,
    %br
    jeszcze nie raz odbędą się spotkania Rails Girls Tricity :)

  %p
    Obserwój nas na
    = link_to 'facebook', 'https://www.facebook.com/RailsGirlsTricity/', target: '_blank'
   
    

  %p
    Jeśli wysłałaś/łeś swoją aplikację, napewno otrzymasz odpowiedź na maila, który podałaś/łeś. &nbsp;
    %strong> 
    \

  %p Do zobaczenia!

  %p= link_to 'railsgirlstricity.pl', 'http://railsgirlstricity.pl/'
