.thanks
  = image_tag 'thanks.png'

  %h1 Dziękujemy za wysłanie zgłoszenia

  %p
    Rejestrację zamykamy <strong>30 września</strong> 2016.

  %p
    Po ocenieniu zgłoszeń damy Ci znać czy się dostałaś/dostałeś.

  %p Powodzenia!

  %p= link_to 'railsgirlstricity.pl', 'http://railsgirlstricity.pl/'
