%h1 Regulamin warsztatów Rails Girls Tricity

%h2 Postanowienia ogólne

%p 1. Organizatorem wydarzenia „Warsztaty Rails Girls Tricity” (dalej zwanych Warsztatami) jest Izabela Domaradzka-Michno, dalej zwana Organizatorem.
%p 2. Pod pojęciem Uczestnika rozumie się osobę biorącą udział w Warsztatach.
%p 3. Pod pojęciem Regulamin rozumie się niniejszy dokument.
%p 4. Pod pojęciem Formularz Rejestracyjny rozumie się formularz udostępniony na stronie internetowej Organizatora.
%p 5. Pod pojęciem Warsztaty rozumie się dwudniowe warsztaty programowania w Ruby on Rails.
%p 6. Strona internetowa Organizatora to #{link_to 'www.railsgirlstricity.pl', 'http://www.railsgirlstricity.pl/', target: '_blank'}.
%p 7. Warsztaty odbywają się w dniach 22 - 23 października 2016r. w Pomorskim Parku Naukowo-Technologicznym,  Aleja Zwycięstwa 96/98, 81-451 Gdynia Budynek III, sale FH i G. Warsztaty organizowane są i prowadzone w języku polskim.
%p 8. Liczba miejsc na Warsztatach ograniczona jest do 42 osób.
%p 9. Nauka odbywać się będzie w grupach trzyosobowych. Każdej grupie przewodniczyć będzie jeden coach.

%h2 Kryteria uczestnictwa

%p 10. Uczestnikiem Warsztatów może zostać osoba powyżej 18 roku życia, która prawidłowo wypełni Formularz Rejestracyjny.
%p 11. Warunkiem uczestnictwa w Warsztatach jest akceptacja niniejszego Regulaminu.

%h2 Finansowanie

%p 12. Inicjatywa Rails Girls Tricity jest społecznością non-profit.
%p 13. Warsztaty są w całości finansowane ze środków otrzymanych od sponsorów.
%p 14. Udział w Warsztatach jest bezpłatny.

%h2 Rekrutacja

%p 15. O uczestnictwie w Warsztatach decyduje ocena Organizatora na podstawie wypełnionego Formularza Rejestracyjnego.
%p 16. Informacja o zakwalifikowaniu się na Warsztaty zostanie przesłana drogą elektroniczną w dniu 07.10.2016r  na podany w Formularzu Rejestracyjnym adres e-mail.
%p 17. Osoby zakwalifikowane do wzięcia udziału w Warsztatach zobligowane są do potwierdzenia swojej obecności do dnia 10.10.2016r. W przypadku braku tej informacji Organizator dyskwalifikuje tę osobę do wzięcia udziału w Warsztatach i na jej miejsce kwalifikuje inną z listy rezerwowej.
%p 18. Osoby, które zakwalifikowały się i nie będą mogły wziąć udziału w Warsztatach powinny przesłać informację o rezygnacji z udziału w Warsztatach na adres #{mail_to 'team@railsgirlstricity.pl', 'team@railsgirlstricity.pl'} do dnia 10.10.2016r.

%h2 Udostępnienie wizerunku uczestnika

%p 19. W trakcie warsztatów zostanie wykonana dokumentacja fotograficzno-filmowa uczestników biorących udział w warsztatach.
%p 20. Uczestnik wyraża zgodę na wykorzystywanie zdjęć, danych osobowych i nagrań ze swoim wizerunkiem powstałych podczas Warsztatów. Będą one wykorzystywane w mediach oraz materiałach promocyjnych Organizatora m.in. na stronach internetowych, w social media, jak również poprzez ogólnodostępne środki masowego przekazu (radio, prasa, telewizja, Internet).

%h2 Zobowiązania

%p 21. Na warsztaty należy przyjść z własnym sprawnym laptopem.
%p 22. Organizator nie odpowiada za sprzęt uczestników.
%p 23. Uczestnicy odpowiadają za szkody wyrządzone na terenie Pomorskiego Parku Naukowo-Technologicznego, gdzie będą prowadzone Warsztaty.
%p 24. Uczestnik wyraża zgodę na otrzymywanie informacji od Organizatora, sponsorów i partnerów drogą elektroniczną.
%p 25. Organizator zobowiązuje się do ochrony danych osobowych Uczestników zgodnie z Ustawą z dnia 29 sierpnia 1997 r. o ochronie danych osobowych [t.j. Dz.U. z 2002 r., Nr 101, poz. 926 z późn. zm.].

%h2 Postanowienia końcowe

%p 26. Wysłanie Formularza Rejestracyjnego jest równoznaczne z akceptacją Regulaminu.
%p 27. Formularz Rejestracyjny należy wypełnić on-line, jest on dostępny pod adresem: #{link_to 'www.railsgirlstricity.pl', 'www.railsgirlstricity.pl', target: '_blank'}
