!!!
%html
  %head
    %title Rails Girls Tricity 2016 | Regulamin
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag 'rules'
    = render 'shared/opengraph'

  %body
    .container= yield
